{% extends 'main/layoute.html' %}

{% block title %}
    <title>Добро пожаловать!</title>
{% endblock %}

{% block content %}
<!--    {% include 'main/nav.html' %}-->
    <h1>Урок номер 2 по изучению фреймворка django</h1>
    <h1>Добро пожаловать на сайт {{caption}}!</h1>
<p>
            Мы рады представить вам наш проект, созданный для поддержки семей, воспитывающих детей с особыми потребностями. Наша миссия — помочь детям раскрыть их потенциал, а родителям дать возможность отдохнуть, набраться сил и почувствовать поддержку.
        </p>
        <section>
            <h2>На нашем сайте вы найдете:</h2>
            <ul>
                <li><strong>Информацию о реабилитационных программах</strong> для детей с особенностями здоровья.</li>
                <li><strong>Мероприятия и мастер-классы</strong>, способствующие социализации детей.</li>
                <li><strong>Поддержку для родителей</strong>, включая консультации специалистов и возможность общения с другими семьями.</li>
            </ul>
        </section>
        <p>
            Мы создаем пространство, где каждый ребенок чувствует себя особенным, а каждая семья — частью дружного сообщества.
        </p>
        <p>
            Присоединяйтесь к нашим инициативам, следите за анонсами мероприятий и узнавайте больше о том, как мы можем помочь именно вам.
        </p>
        <p>
            Если у вас есть вопросы или предложения, мы всегда готовы ответить — свяжитесь с нами через форму обратной связи.
        </p>
        <p><strong>Спасибо, что доверяете нам! Вместе мы сделаем мир более добрым и заботливым.</strong></p>
{% endblock %}