{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    {% block title %}<title>РЦ Лучик</title>{% endblock %}
</head>
<body class="d-flex flex-column min-vh-100 bg-light">
    <!-- Верхнее меню -->
    <header class="bg-white shadow-sm">
        {% include 'menu.html' %}
    </header>

    <div class="d-flex flex-grow-1">
        <!-- Боковая панель -->
        <aside class="d-flex flex-column bg-white border-end p-3" style="width: 280px; min-height: 100%;">
            <div class="text-center mb-4">
                <img src="{% static 'main/image/boy.png' %}" alt="Лучик" class="img-fluid rounded-circle mb-3" style="width: 120px;">
                <h5 class="fw-bold">РЦ "Лучик"</h5>
                <p class="text-muted small">Поддержка детей и родителей</p>
            </div>
            <nav class="nav flex-column">
                <a class="nav-link text-dark fw-semibold" href="{% url 'home' %}"><i class="bi bi-house-door-fill"></i>Главная</a>
<!--                <a class="nav-link text-dark fw-semibold" href="{% url 'page2' %}"><i class="bi bi-newspaper"></i>Новости</a>-->
                <a class="nav-link text-dark fw-semibold" href="{% url 'news_home' %}"></i>Новости</a>
                <a class="nav-link text-dark fw-semibold" href="{% url 'page3' %}"><i class="bi bi-list-task"></i>Программы</a>
                <a class="nav-link text-dark fw-semibold" href="{% url 'page4' %}"><i class="bi bi-people-fill"></i>Специалисты</a>
                <a class="nav-link text-dark fw-semibold" href="{% url 'page5' %}"><i class="bi bi-book"></i>Дисциплины</a>
                <a class="nav-link text-dark fw-semibold" href="{% url 'page6' %}"><i class="bi bi-calendar-event"></i>Мероприятия</a>
                <a class="nav-link text-dark fw-semibold" href="{% url 'page7' %}"><i class="bi bi-heart"></i>Поддержка</a>
                <a class="nav-link text-dark fw-semibold" href="{% url 'add_news' %}"><i class="bi bi-file-earmark-plus"></i>Создать новость</a>

            </nav>
        </aside>

        <!-- Основной контент -->
        <main class="flex-grow-1 p-4 bg-light">
            {% block content %}
            {% endblock %}
        </main>
    </div>

    <!-- Футер -->
    <footer class="bg-dark text-white text-center py-3">
        {% include 'footer.html' %}
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.js"></script>
</body>
</html>
